* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.parentBox {
    width: 100vw;
    height: 100vh;
    color: red;
}

h1 {
    font-size: 4rem;
    padding: 50px;
    text-align: center;
    color: #000;
}

p {

    padding-top: 50px;
    padding-left: 10px;
    position: absolute;
}

.box {
    position: relative;
    height: 250px;
    border: solid black;
    flex: 1 1 150px;
    margin: 20px;
    background-color: #8E8A8A;
    text-align: justify;

}

.Bbox {
    width: 100vw;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.2 linear;

}

.box p {
    position: absolute;
    color: rgb(0, 0, 0);
    padding-bottom: 15px;

    text-align: justify;
}


.xbox {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 0px;
    right: 0px;
}

.xbox p {
    color: rgb(0, 0, 0);
    padding: 8px;
    padding-left: 24px;
    text-align: center;
}

@media (max-width: 768px) {
    .parentBox {
        height: auto;
    }
}